@import "./normalize.scss"

@font-face
  font-family: 'Josefin Sans'
  font-style: normal
  font-weight: 700
  src: local(""), url('../assets/font/JosefinSans-Bold.woff2') format("woff2"), url('../assets/font/JosefinSans-Bold.woff') format("woff")

@keyframes fadeIn
  0%
    opacity: 0
  100%
    opacity: 1

.fade-in
  animation: 1s fadeIn cubic-bezier(0.32, 0, 0.67, 0)

body, html
  background: #6F6258
  overflow: hidden
  font-family: "Josefin Sans", monospace

.accent
  height: 8px
  width: 100%
  position: absolute
  top: 0
  left: 0
  background: #d31324
  background: linear-gradient(to right, #e8192b, #ae051c)
  z-index: 10

.upper
  position: absolute
  top: 0
  left: 0
  width: 100%
  display: flex
  justify-content: space-between
  align-items: center
  transition: 0.4s
  color: white
  background: #6F6258
  padding-top: 25px
  padding-bottom: 10px
  box-shadow: 0 0 35px 0px rgba(0, 0, 0, 0.3)
  > h1
    user-select: none
    margin: 0
    margin-right: 40px
    transition: 0.4s
    text-align: right
  @media all and (max-width: 812px)
    padding-top: 30px
    > h1
      font-size: 26px
      margin-right: 30px
  @media all and (max-width: 576px)
    > h1
      font-size: 21px

.logo
  margin-left: 40px
  align-self: flex-start
  transition: 0.4s
  > img
    user-select: none
    filter: brightness(90%)
    transition: 0.4s
    // background: #6F6258
    width: 96px
    height: 96px
    &:hover
      filter: brightness(100%)
  @media all and (max-width: 812px)
    margin-left: 30px
    > img
      width: 70px
      height: 70px
  @media all and (max-width: 576px)
    > img
      width: 48px
      height: 48px
