doctype html
head
  title Virtual Zipper - Abdullah Khan
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
  link(type='text/css' rel='stylesheet' href='./css/styles.min.css')
#info
  a(href='https://threejs.org' target='_blank' rel='noopener') three.js

