doctype html
head
	title Virtual Zipper
	meta(charset='utf-8')
	meta(name='viewport' content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
	link(rel="shortcut icon" href="./assets/img/favicon.png" type="image/png")
	link(type='text/css' rel='stylesheet' href='./css/styles.min.css')
body.fade-in
	.accent
	.upper
		a.logo(href="https://khanabdullah.com")
			img(src="./assets/img/logo.png" width="100" height="100")
		h1 Spin the Zipper!
	canvas#scene
	script(src="./js/zipper-bundle.min.js")



